/*
#box{
	width:100px;
	height:200px;
	background-color: #dcdcdc;
	color:red;
}
*/
#box1{
	width:100px;
	height:200px;
	background-color: yellow;
	color:red;
}
.a{
	width:100px;
	height:200px;
	background-color: blue;
	color:red;

}